/* region Reset */
/* @see https://www.joshwcomeau.com/css/custom-css-reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input, button, select, textarea {
    font: inherit;
    color: inherit;
}
/* endregion */


body {
    height: 100vh;
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

#simCanvas {
    margin: 10px;
    outline: solid 1px lightgray;
}

#controls,
#actions,
#examples {
    margin: 10px 20px;
    display: flex;
    gap: 0.75ch;

    > button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid darkgray;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        svg {
            pointer-events: none;
        }
    }
}


#controls {
    > button {
        background-color: #7fd8a3;
        height: 45px;
        width: 45px;

        &:hover {
            background-color: #8beeb3;
        }
    }
}

#actions {
    > button {
        background-color: lightgray;
        height: 35px;
        width: 35px;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}

#examples {
    > button {
        background-color: lightblue;
        height: 30px;

        &:hover {
            background-color: rgb(185, 232, 248);
        }
    }
}
